<!-- Header -->
<%- include("partials/header.ejs") %>

<h1>Compose</h1>
<form action="/submit" method="POST">
  <p><label for="postTitle">Post Title</label></p>
  <input type="text" name="postTitle" placeholder="Title">
  <p><label for="postContent">Content:</label></p>
  <textarea id="postContent" name="postContent" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>

<!-- Footer -->
<%- include("partials/footer.ejs") %>