<!-- Header -->
<%- include("partials/header.ejs") %>

<!-- Body -->
<h1>Oziel's Blog</h1>

<form action="/submit" method="POST">
  <input type="submit" value="Generate Name">
</form>

<!-- Footer -->
<%- include("partials/footer.ejs") %>